.toolbar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    background-color: rgb(236, 88, 88);
    color: black;
    font-weight: 600;
}

.toolbar img {
    margin: 0 16px;
}

.toolbar span {
    font-size: 32px;
    font-family: "Anton", sans-serif;
}

.content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgb(95, 166, 247);
}
